*{
    padding: 0;
    margin: 0;
    border: 1px solid orange;
    }

body {
    background-color: #f9faf8;
    font-family: Roboto, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header, .herocont, .footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header {
    justify-content: space-between;
}
.herocont, .footer {
    justify-content: center;
}

p.logo {
    margin-right: auto;
    color: inherit;
    font-size: 24px;
}

a {
    color: inherit;
    text-decoration: none;
}



.mainbody {}
/* .infopt {} */
/* Infobar section is flowing the wrong way - to do with size or something else? */

.infobar .ctacont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infocont, .quotecont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {}
.quoteattribution{}

.ctacard {
    background-color: #3882f6;
}